.modal-content {
  border-radius: 1rem;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 255, 255, 0.95);
}

.card-title {
  font-size: 1.25rem;
}

.card-subtitle {
  font-size: 1rem;
  color: #6c757d !important;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.03);
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.4);
}
